.header{
    margin-top: 20px;
}
.headertitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lora", serif;
}
.headertitlesm{
    position: absolute;
    font-size:20px ;
    top: 18%;
    justify-content: center;
}
.headertitlelg{
    position: absolute;
    font-size:40px ;
    
    justify-content: center;
    color: rgb(14, 14, 14);
}
.headerImg{
    width: 100%;
    height: 450px;
    margin-top: 14 px;
    object-fit: cover;
}